:root {
  --clr-primary-200: #f3eed9;

  --clr-primary-500: #824936;

  --clr-neutral-100: #fff;
  --clr-primary-900: #222c2a;

  --ff-primary-: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary-);
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  color: var(--clr-primary-500);
  font-family: var(--ff-accent);
  line-height: 1;
  font-weight: 900;
  margin-bottom: 1em;
}
.text-center {
  text-align: center;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

header,
section {
  padding: 3rem 0;
}
@media (min-width: 40em) {
  header,
  section {
    padding: 3rem 0;
  }
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 2em;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container--narrow {
  max-width: 30rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}
